@media only screen and (max-width:960px) {

body{
  line-height: 1.2;
}

.intro-cont{
  padding: 20px;
}

.intro-cont h1{
  display: none;
}

.intro-img{
  padding-top: 20px;
}

.intro-img img{
  height: 140px;
  width: auto;
}

.events{
  height: 300px;
  width: auto;
}

.pp:first-line, .debug:first-line, .tq:first-line, .speech:first-line, .robot:first-line, .wd:first-line, .gamming:first-line, .art:first-line, .fpaint:first-line, .connection:first-line, .photography:first-line, .dubsmash:first-line{
  font-weight: bold;
  color: #fff;
  font-size: 0.8em;
}
/*
.s-events{
  background-position: bottom;
} */

}

@media only screen and (max-width: 500px) {

body{
  line-height: 1;
}

.mhide{
  display: block;
}

.mainnav{
  display: none;
}

.s-intro{
  display: block;
}

.intro-cont{
  padding-bottom: 2px;
}

.intro-ext{
  display: grid;
  grid-template-columns: 50% 50%;
}

.intro-img{
  padding-top: 0px;
  padding-bottom: 20px;
}

.intro-img img{
  float: right;
}

.counter{
  padding-top: 30px;
}

.events{
  grid-template-columns: 50% 50%;
  height: 300px;
  width: auto;
  padding: 0 3rem;
}

.pp:first-line, .debug:first-line, .tq:first-line, .speech:first-line, .robot:first-line, .wd:first-line, .gamming:first-line, .art:first-line, .fpaint:first-line, .connection:first-line, .photography:first-line, .dubsmash:first-line{
  font-weight: bold;
  color: #fff;
  font-size: 0.6em;
}

.s-location{
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
}

.contact{
  margin: 0;
}

.location-info h3{
  padding-top: 10px;
  line-height: 0;
}

.location-info p{
  font-size: 70%;
}

footer h5{
  font-size: 100%;
  line-height: 0;
  margin: 1.5rem 0 1rem 0;
}

.contact p{
  font-size: 70%;
}

.follow{
  margin: 0 0 0 auto;
}

.socialnet,.socialnet li{
  list-style: none;
  display: inline;
  /* padding-right: 20px; */
}

.copyright{
  font-size: 60%;
  margin: auto 0 5px 0;
}

}
